In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('other_data/AllMoviesDetailsCleaned.csv', encoding='utf-8-sig', sep=';', 
                 engine='python',parse_dates=['release_date'])

In [4]:
df.head()

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number
0,2,0,Drama|Crime,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,0.823904,Villealfa Filmproduction Oy,Finland,...,69.0,suomi,Released,NaN,Ariel,7.1,40,2,1,2
1,3,0,Drama|Comedy,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",0.47445,Villealfa Filmproduction Oy,Finland,...,76.0,English,Released,NaN,Shadows in Paradise,7.0,32,1,1,3
2,5,4000000,Crime|Comedy,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,1.698,Miramax Films,United States of America,...,98.0,English,Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,6.5,485,2,1,1
3,6,0,Action|Thriller|Crime,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",1.32287,Universal Pictures,Japan,...,110.0,English,Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,6.5,69,3,2,1
4,8,42000,Documentary,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,0.054716,inLoops,Austria,...,80.0,English,Released,A Megacities remix.,Life in Loops (A Megacities RMX),6.4,4,1,1,5

In [5]:
df.columns

Index(['id', 'budget', 'genres', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'production_companies_number',
       'production_countries_number', 'spoken_languages_number'],
      dtype='object')

In [6]:
df.isnull().sum()

id                                  0
budget                              0
genres                         121529
imdb_id                         78480
original_language                 203
original_title                      1
overview                        50984
popularity                          0
production_companies                0
production_countries                0
release_date                    24046
revenue                             0
runtime                         36792
spoken_languages                 4460
status                           1988
tagline                        276113
title                               1
vote_average                        0
vote_count                          0
production_companies_number         0
production_countries_number         0
spoken_languages_number             0
dtype: int64

In [7]:
bechdel_df = pd.read_csv('my_data/bechdel_test_movies.csv')
bechdel_df.head()

,year,title,score,passing,imdb_id,imdb_link
0,2019,Alita: Battle Angel,3,1,tt0437086,http://us.imdb.com/title/tt0437086/
1,2019,American Woman,3,1,tt9109492,http://us.imdb.com/title/tt9109492/
2,2019,Close,3,1,tt5316540,http://us.imdb.com/title/tt5316540/
3,2019,Cold Pursuit,1,0,tt5719748,http://us.imdb.com/title/tt5719748/
4,2019,How to Train Your Dragon: The Hidden World,2,0,tt2386490,http://us.imdb.com/title/tt2386490/

In [9]:
bechdel_ids = []
for i_id in bechdel_df.imdb_id.values:
    bechdel_ids.append(i_id)

In [11]:
big_df_ids = []
for i_id in df.imdb_id.values:
    big_df_ids.append(i_id)

In [12]:
shared_ids = set(bechdel_ids) & set(big_df_ids)

In [13]:
len(shared_ids)

7828

In [16]:
movies_with_budgets = df.loc[df.budget != 0]

In [17]:
movies_with_budgets.head()

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number
2,5,4000000,Crime|Comedy,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,1.698,Miramax Films,United States of America,...,98.0,English,Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,6.5,485,2,1,1
4,8,42000,Documentary,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,0.054716,inLoops,Austria,...,80.0,English,Released,A Megacities remix.,Life in Loops (A Megacities RMX),6.4,4,1,1,5
6,11,11000000,Adventure|Action|Science Fiction,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,10.492614,Lucasfilm,United States of America,...,121.0,English,Released,"A long time ago in a galaxy far, far away...",Star Wars,8.0,6168,2,1,1
7,12,94000000,Animation|Family,tt0266543,en,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...",9.915573,Pixar Animation Studios,United States of America,...,100.0,English,Released,"There are 3.7 trillion fish in the ocean, they...",Finding Nemo,7.6,5531,1,1,1
8,13,55000000,Comedy|Drama|Romance,tt0109830,en,Forrest Gump,A man with a low IQ has accomplished great thi...,10.351236,Paramount Pictures,United States of America,...,142.0,English,Released,"The world will never be the same, once you've ...",Forrest Gump,8.2,7204,1,1,1

In [18]:
movies_with_revenue = df.loc[df.revenue != 0]

In [19]:
movies_with_revenue.head()

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number
2,5,4000000,Crime|Comedy,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,1.698,Miramax Films,United States of America,...,98.0,English,Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,6.5,485,2,1,1
3,6,0,Action|Thriller|Crime,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",1.32287,Universal Pictures,Japan,...,110.0,English,Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,6.5,69,3,2,1
6,11,11000000,Adventure|Action|Science Fiction,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,10.492614,Lucasfilm,United States of America,...,121.0,English,Released,"A long time ago in a galaxy far, far away...",Star Wars,8.0,6168,2,1,1
7,12,94000000,Animation|Family,tt0266543,en,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...",9.915573,Pixar Animation Studios,United States of America,...,100.0,English,Released,"There are 3.7 trillion fish in the ocean, they...",Finding Nemo,7.6,5531,1,1,1
8,13,55000000,Comedy|Drama|Romance,tt0109830,en,Forrest Gump,A man with a low IQ has accomplished great thi...,10.351236,Paramount Pictures,United States of America,...,142.0,English,Released,"The world will never be the same, once you've ...",Forrest Gump,8.2,7204,1,1,1

In [20]:
budget_ids = []
for i_id in movies_with_budgets.imdb_id.values:
    budget_ids.append(i_id)

In [21]:
revenue_ids = []
for i_id in movies_with_revenue.imdb_id.values:
    revenue_ids.append(i_id)

In [22]:
budget_and_revenue = set(budget_ids) & set(revenue_ids)

In [23]:
len(budget_and_revenue)

5761

In [24]:
bechdel_and_budget = set(bechdel_ids) & set(budget_ids)
len(bechdel_and_budget)

3803

In [26]:
bechdel_and_revenue = set(bechdel_ids) & set(revenue_ids)
len(bechdel_and_revenue)

3679

In [27]:
bechdel_and_budget_and_revenue = set(bechdel_ids) & set(revenue_ids) & set(budget_ids)
len(bechdel_and_budget_and_revenue)

3106

In [28]:
fullish_bechdel_df = pd.read_csv('my_data/best_bechdel_df_so_far.csv')
fullish_bechdel_df.head()

,Unnamed: 0,year,title,score,passing,imdb_id,movieTitle,budgetAmount,boxofficeAmount,imdbId,director_fnbt,writer_fnbt,exec_fnbt,producer_fnbt,overall_fnbt
0,0,2019.0,Alita: Battle Angel,3.0,1.0,tt0437086,Alita: Battle Angel,170000000.0,359700000.0,tt0437086,0.0,1.0,0.0,0.0,1.0
1,1,2019.0,American Woman,3.0,1.0,tt9109492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019.0,Close,3.0,1.0,tt5316540,Close,NaN,NaN,tt5316540,1.0,1.0,0.0,0.0,2.0
3,3,2019.0,Cold Pursuit,1.0,0.0,tt5719748,Cold Pursuit,NaN,NaN,tt5719748,0.0,0.0,0.0,0.0,0.0
4,4,2019.0,How to Train Your Dragon: The Hidden World,2.0,0.0,tt2386490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
bechdel_without_budget = fullish_bechdel_df.loc[fullish_bechdel_df.budgetAmount.isna()]
len(bechdel_without_budget)

7100

In [30]:
fullish_bechdel_df.shape

(8089, 15)

In [31]:
print(f'My Bechdel dataset has {8089 - 7100} budget values.')

My Bechdel dataset has 989 budget values.

In [32]:
missing_budget_ids = []
for i_id in bechdel_without_budget.imdb_id.values:
    missing_budget_ids.append(i_id)

In [33]:
budgets_I_can_add = set(bechdel_and_budget) & set(bechdel_without_budget)
len(budgets_I_can_add)

0

In [34]:
len(missing_budget_ids)

7100

In [35]:
len(bechdel_without_budget)

7100

In [36]:
budgets_I_can_add = set(bechdel_and_budget) & set(missing_budget_ids)
len(budgets_I_can_add)

2941

In [38]:
print(f'Now I only need {8089 - 989 - 2941} more budget values')

Now I only need 4159 more budget values

In [39]:
bechdel_without_revenue = fullish_bechdel_df.loc[fullish_bechdel_df.boxofficeAmount.isna()]
missing_revenue_ids = []
for i_id in bechdel_without_revenue.imdb_id.values:
    missing_revenue_ids.append(i_id)
    
len(missing_revenue_ids)

6818

In [40]:
revenues_I_can_add = set(bechdel_and_revenue) & set(missing_revenue_ids)
len(revenues_I_can_add)

2575

In [43]:
print(f'Now I only need {8089 - 1271 - 2575} more revenue values')

Now I only need 4243 more revenue values

In [42]:
8089 - 6818

1271

In [44]:
more_movies_df = pd.read_csv('other_data/movies_metadata.csv')
more_movies_df.head()

/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [45]:
more_movies_df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [46]:
more_movies_df.budget[15:20]

15    52000000
16    16500000
17     4000000
18    30000000
19    60000000
Name: budget, dtype: object

In [48]:
more_movies_ids = []
for i_id in more_movies_df.imdb_id.values:
    more_movies_ids.append(i_id)

In [49]:
len(more_movies_ids)

45466

In [50]:
more_movies_and_bechdel_shared = set(bechdel_ids) & set(more_movies_ids)
len(more_movies_and_bechdel_shared)

7044

In [53]:
more_movies_bechdel_needs = set(missing_budget_ids) & set(more_movies_ids)
len(more_movies_bechdel_needs)

6133

In [54]:
more_revenue_bechdel_needs = set(missing_revenue_ids) & set(more_movies_ids)

In [55]:
len(more_revenue_bechdel_needs)

5865

In [56]:
revenues_still_needed = set(missing_revenue_ids) - set(more_movies_ids)
len(revenues_still_needed)

947

In [58]:
total_movies_from_these_two_dbs = set(more_movies_ids) | set(big_df_ids)
len(total_movies_from_these_two_dbs)

250869

In [59]:
intersection_movies = set(more_movies_ids) & set(big_df_ids)
len(intersection_movies)

45114

In [60]:
symmetrical_diff_movies = set(more_movies_ids) ^ set(big_df_ids)
len(symmetrical_diff_movies)

205755

In [61]:
205755 + 45114

250869